@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
body{
    background: linear-gradient(135deg, rgba(19,33,47,1) 0%, rgba(20,172,204,1) 100%);
}
.title{
    font-size: 30px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.flex-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    /* max-width: 100%; */
    width: 60%;
}
.login-card-custom {
    border-radius: 12px;
    width: 60%;
}
.form-outline{
    margin-left: auto;
    margin-right: auto;
    
}
.field-icon{
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
}

.field-icon a:visited{
    color: #24252A;
}
.field-icon a:link {
    color: #24252A;
  }
form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 20px 10px 20px;
}
form .user-details .inputbox{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}
form .user-details .inputbox.textbox{
    width: calc(200% / 2 - 20px);
}
form .user-details textarea{
    height: calc(200% / 2 - 20px);
}
form .user-details .inputbox.inputgender{
    /* background-color: red; */
    margin-right: 53%;
}

.form-outline label{
   margin-left: 10px;
}
.form-label{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}
.btnbg-custom{
    background: linear-gradient(135deg, rgba(19,33,47,1) 0%, rgba(20,172,204,1) 100%);
    padding: 10px;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    color: white;
}
.btnbg-custom:hover{
    background: linear-gradient(-135deg, rgba(19,33,47,1) 0%, rgba(20,172,204,1) 100%);
}

@media (min-width: 0px) and (max-width: 576px) { 
    .login-card-custom {
        width: 100%;
    }
    .flex-login-form {
        width: 80%;
    }
    
}
@media (min-width: 576px) and (max-width: 768px) { 
    .login-card-custom {
        width: 100%;
    }
    .flex-login-form {
        width: 80%;
    }
    
}
@media (min-width: 768px) and (max-width: 992px) { 
    .login-card-custom {
        width: 80%;
    }
    .flex-login-form {
        width: 80%;
    }
    
}
@media (min-width: 992px) and (max-width: 1200px) { 
    .login-card-custom {
        width: 60%;
    }
    .flex-login-form {
        width: 80%;
    }
    
}

.alert-custom {
    width: 30%;
    text-align: center;
}
@media (min-width: 0px) and (max-width: 576px) { 
    .alert-custom {
        width: 100%;
    }
    
}
@media (min-width: 576px) and (max-width: 768px) { 
    .alert-custom {
        width: 100%;
    }
    
}
@media (min-width: 768px) and (max-width: 992px) { 
    .alert-custom {
        width: 80%;
    }
    
}
@media (min-width: 992px) and (max-width: 1200px) { 
    .alert-custom {
        width: 60%;
    }
    
}